@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(13, 36, 35);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* container1 around content */
.container1 {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container1::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(7, 92, 88);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container1 to the left */
.left {
  left: 0;
}

/* Place the container1 to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container1 (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid skyblue;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent skyblue;
}

/* Add arrows to the right container1 (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid skyblue;
  border-width: 10px 10px 10px 0;
  border-color: transparent skyblue transparent transparent;
}

/* Fix the circle for container1s on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width container1s */
  .container1 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container1::before {
    left: 60px;
    border: medium solid skyblue;
    border-width: 10px 10px 10px 0;
    border-color: transparent skyblue transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right container1s behave like the left ones */
  .right {
    left: 0%;
  }
}


.d {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.d span {
  display: block;
  font-size: 4.5rem;
}

ul.lists {
  list-style-type: circle;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width container1s */
    .container1 {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    .container-countdown {
      width: auto;
      padding-left: 70px;
      padding-right: 25px;
    }


  /* Make sure that all arrows are pointing leftwards */
    .container1::before {
      left: 60px;
      border: medium solid skyblue;
      border-width: 10px 10px 10px 0;
      border-color: transparent skyblue transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right container1s behave like the left ones */
    .right {
      left: 0%;
    }

    .d {
      font-size: 1.125rem;
      padding: .75rem;
    }
    
    .d span {
      font-size: 3.375rem;
    }
  }

  .black-lives-matter {
    font-size: 3vw;
    line-height: 8vw;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    background: url('/mainimages/dynamic.png');
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 10s ease 500ms forwards;
  }
  
  @keyframes zoomout {
    from {
      background-size: 40%;
    }
    to {
      background-size: 10%;
    }
  }