<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CAMS | Register</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link  href="/style.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">

            <a class="navbar-brand" href="#"><b>CAMS SIT</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><b>Login</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <div class="container border" style="background: aliceblue;">
        <br>
        <br>
        <div class="section-title text-center">
            <h3><b style="font-size: 4vw;">Registration</b></h3>
        </div>
        
        <form class="form-group text-center" style="background: aliceblue;" method="post" th:action="@{/registered}"
              th:object="${user}">
            <div th:if="${warning != null}" class="alert alert-danger text-center">[[${warning}]]</div>
            <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input placeholder="First Name" id="firstname" class="form-control" th:field="*{firstname}"
                               required>
                        <label for="firstname">First Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input placeholder="Last Name" id="lastname" class="form-control" th:field="*{lastname}"
                               required>
                        <label for="lastname">Last Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input placeholder="Email (Username)" name="username" type="email" id="username"
                               class="form-control"
                               th:field="*{username}"
                               required>
                        <label for="username">Email (Username)</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input placeholder="Contact" type="tel" id="contact" class="form-control" th:field="*{contact}"
                               required>
                        <label for="contact">Contact</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input placeholder="Branch" id="branch" class="form-control" th:field="*{branch}"
                               required>
                        <label for="branch">Branch</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input placeholder="Year" id="year" class="form-control" th:field="*{year}"
                               required>
                        <label for="year">Year</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input placeholder="Semester" id="semester" class="form-control" th:field="*{semester}"
                               required>
                        <label for="semester">Semester</label>
                    </div>
                </div>
                <div class="col-md-12 text-center" th:if="${#fields.hasErrors('global')}">
                    <b><p style="color: red" th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" /></b>
                </div>
                <div class="col-md-12">
                    <br>
                    <input type="submit" class="sim-btn hvr-bounce-to-top" value="Sign Up">
                    <br>
                    <a type="button" class="btn btn-link" href="/login">Already registered? Login</a>
                </div>
            </div>
        </form>
        <br>
    </div>

    <div>
        <br>
        <br>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/parallaxie.js"></script>
    <script type="text/javascript" src="/js/headline.js"></script>
    <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/js/contact_me.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/jquery.vide.js"></script>

</body>
</html>